@keyframes showAlert {
    from {
        opacity: 0;
        transform: translateY(-10px)
    }

    to {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes hideAlert {
    from {
        opacity: 1;
        transform: translate(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes island {
    from{
        width: 100%;
    }
    to{
        width: 200%;
    }
}

#notification_container {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 350px
}

.notification {
    animation: showAlert 0.5s ease-in-out;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
    padding: 10px 15px;
    transition: ease all 0.5s;
}

.notification.fadeOut{
    animation: hideAlert 0.5s ease-out;
}

.hidden {
    display: none
}

.notification span {
    display: flex;
    color: #fff
}
.notification.success {
    background-color: rgb(16, 153, 39)
}

.notification.error {
    background-color: rgb(163, 35, 35)
}

.notification.warning {
    background-color: rgb(216, 130, 0)
}

.notification.info {
    background-color: rgb(29, 29, 29)
}